<div class="jumbotron text-center">
    <h3>Bienvenido a la pagina oficial del Ayuntamiento de gran río seco de la costa:</h3>
  </div>
  <div class="container">
   <div class="form-group">
    <label for="usr">Mensaje:</label>
    <input type="text" #titleInput class="form-control">
    </div>
    <button type="button" (click) = "enviarMensaje(titleInput.value)" class="btn btn-primary">Envia!</button>
  </div>
  
   
   <h3>RECLAMAR TU HERENCIA:</h3>
  
     <button type="button" (click) = "shamir()" class="btn btn-primary">Quiero mi dinero!</button>
  